/*页面样式*/
.lol_container {
  width: 100%;
  overflow: hidden;
}
.lol_container .lol_header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #b8b8b8;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: #fffafa;
  /* 设置pading 把input 挤进去 */
  padding-left: 50px;
  padding-right: 80px;
}
.lol_container .lol_header .lol_userIcon {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #d0ab00;
  border-radius: 50%;
  overflow: hidden;
  top: 7px;
  left: 5px;
}
.lol_container .lol_header .lol_userIcon img {
  width: 35px;
  height: 35px;
}
.lol_container .lol_header .searchIcon {
  position: absolute;
  left: 62px;
  top: 15px;
  color: #9a9a9a;
}
.lol_container .lol_header .lol_search {
  width: 100%;
  margin-top: 7px;
  height: 70%;
  border: 1px solid #cacaca;
  background-color: #cacaca;
  border-radius: 8px;
  padding-left: 24px;
}
.lol_container .lol_header input::-ms-input-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input::-moz-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input::-webkit-input-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input:-moz-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header .lol_card {
  position: absolute;
  right: 42px;
  top: 14px;
}
.lol_container .lol_header .lol_card span {
  font-size: 23px;
  color: #d0ab00;
}
.lol_container .lol_header .lol_cart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.lol_container .lol_header .lol_cart span {
  font-size: 30px;
  color: #d0ab00;
}
.lol_container .lol_banner {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}
.lol_container .lol_banner .banner_image {
  width: 1000%;
  transform: translateX(-10%);
}
.lol_container .lol_banner .banner_image li {
  width: 10%;
  float: left;
}
.lol_container .lol_banner .banner_image li a img {
  width: 100%;
}
.lol_container .lol_banner .banner_index {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -35px;
}
.lol_container .lol_banner .banner_index li {
  float: left;
  border: 1px solid #d0ab00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 6px;
}
.lol_container .lol_banner .banner_index .current {
  background-color: #fff;
}
.lol_container .nav {
  width: 100%;
  height: 90px;
  border-bottom: 2px solid #d1d1d1;
}
.lol_container .nav ul {
  width: 100%;
  height: 100%;
}
.lol_container .nav ul li {
  width: 25%;
  height: 100%;
  float: left;
}
.lol_container .nav ul li a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.lol_container .nav ul li a .nav_icon {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  border: 1px solid #d0ab00;
  background-color: #d0ab00;
  border-radius: 50%;
  margin-left: -25%;
}
.lol_container .nav ul li a .nav_icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  font-size: 20px;
  color: #FFFFFF;
}
.lol_container .nav ul li a .nav_text {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: #767676;
}
.lol_container .new {
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 10px;
}
.lol_container .new .new_title {
  height: 40px;
  position: relative;
  margin-bottom: 3px;
}
.lol_container .new .new_title .new_title_up {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #d0ab00;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.lol_container .new .new_title ul {
  position: absolute;
  top: 10px;
  left: 100px;
}
.lol_container .new .new_title ul li {
  float: left;
}
.lol_container .new .new_title .new_title_right {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: #d0ab00;
}
.lol_container .new .new_item {
  height: 250px;
}
.lol_container .new .new_item ul {
  height: 100%;
}
.lol_container .new .new_item ul li:nth-child(1) {
  height: 100%;
  position: relative;
  width: 50%;
  overflow: hidden;
}
.lol_container .new .new_item ul li:nth-child(1) a {
  display: block;
  height: 100%;
  width: 100%;
}
.lol_container .new .new_item ul li:nth-child(1) a img {
  width: 600%;
  position: absolute;
  top: -10%;
  left: -340%;
}
.lol_container .new .new_item ul li:nth-child(1) .riot_logo {
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: #d0ab00;
  font-size: 20px;
}
.lol_container .new .new_item ul li:nth-child(1) .item_price {
  position: absolute;
  bottom: 38px;
  left: 33px;
  color: #d0ab00;
  font-size: 20px;
}
.lol_container .new .new_item ul li:nth-child(1) .item_name {
  width: 100%;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFFFFF;
  font-size: 20px;
  text-overflow: ellipsis;
}
.lol_container .new .new_item ul li:nth-child(n+2) {
  height: 50%;
  position: relative;
  width: 50%;
  overflow: hidden;
}
.lol_container .new .new_item ul li:nth-child(n+2) a {
  display: block;
  height: 100%;
  width: 100%;
}
.lol_container .new .new_item ul li:nth-child(n+2) a img {
  width: 400%;
  position: absolute;
  top: -60%;
  left: -200%;
}
.lol_container .new .new_item ul li:nth-child(n+2) .riot_logo {
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: #d0ab00;
  font-size: 20px;
}
.lol_container .new .new_item ul li:nth-child(n+2) .item_price {
  position: absolute;
  bottom: 38px;
  left: 33px;
  color: #d0ab00;
  font-size: 20px;
}
.lol_container .new .new_item ul li:nth-child(n+2) .item_name {
  width: 100%;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFFFFF;
  font-size: 20px;
  text-overflow: ellipsis;
}
.lol_container .worth {
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 10px;
}
.lol_container .worth .worth_title {
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}
.lol_container .worth .worth_title .worth_title_up {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #d0ab00;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.lol_container .worth .worth_title .worth_title_right {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: #d0ab00;
}
.lol_container .worth .worth_item {
  height: 150px;
  width: 100%;
}
.lol_container .worth .worth_item ul {
  width: 100%;
  height: 100%;
}
.lol_container .worth .worth_item ul li {
  padding: 0 10px 0 10px;
  float: left;
  width: 50%;
  height: 120px;
  overflow: hidden;
}
.lol_container .worth .worth_item ul li a {
  display: block;
  color: #d0ab00;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.lol_container .worth .worth_item ul li a img {
  width: 100%;
  height: 100%;
}
.lol_container .worth .worth_item ul li a .worth_text1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.lol_container .worth .worth_item ul li a .worth_text1 span {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  margin-top: -15px;
}
.lol_container .worth .worth_item ul li a .worth_text2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(31, 48, 83, 0.6);
}
.lol_container .worth .worth_item ul li a .worth_text2 span {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  margin-top: -15px;
}
.lol_container .suggestion {
  width: 100%;
  padding: 10px 20px 0px 20px;
}
.lol_container .suggestion .suggestion_title {
  height: 30px;
  font-size: 20px;
}
.lol_container .suggestion .suggestion_item ul {
  width: 100%;
}
.lol_container .suggestion .suggestion_item ul li {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  height: 100px;
  position: relative;
}
.lol_container .suggestion .suggestion_item ul li a {
  display: block;
  width: 100%;
}
.lol_container .suggestion .suggestion_item ul li a .cvs {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.lol_container .suggestion .suggestion_item ul li a .suggestion_text {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #d0ab00;
  width: 50%;
  height: 100%;
}
.lol_container .suggestion .suggestion_item ul li a .suggestion_text span:nth-child(1) {
  position: absolute;
  bottom: 30px;
  left: 10px;
}
.lol_container .suggestion .suggestion_item ul li a .suggestion_text span:nth-child(2) {
  position: absolute;
  bottom: 60px;
  left: 10px;
  font-weight: bold;
}
.lol_container .suggestion .suggestion_item ul li a .suggestion_text span:nth-child(3) {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #66e9ff;
}
.lol_container .suggestion .suggestion_item ul li a img {
  width: 100%;
}
