/*页面样式*/
.lol_container {
  width: 100%;
}
.lol_container .lol_header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #b8b8b8;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: #fffafa;
  /* 设置pading 把input 挤进去 */
  padding-left: 50px;
  padding-right: 80px;
}
.lol_container .lol_header .lol_userIcon {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #d0ab00;
  border-radius: 50%;
  overflow: hidden;
  top: 7px;
  left: 5px;
}
.lol_container .lol_header .lol_userIcon img {
  width: 35px;
  height: 35px;
}
.lol_container .lol_header .searchIcon {
  position: absolute;
  left: 62px;
  top: 15px;
  color: #9a9a9a;
}
.lol_container .lol_header .lol_search {
  width: 100%;
  margin-top: 7px;
  height: 70%;
  border: 1px solid #cacaca;
  background-color: #cacaca;
  border-radius: 8px;
  padding-left: 24px;
}
.lol_container .lol_header input::-ms-input-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input::-moz-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input::-webkit-input-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header input:-moz-placeholder {
  font-size: 14px;
  color: #989898;
  line-height: 100%;
  padding-left: 50px;
}
.lol_container .lol_header .lol_card {
  position: absolute;
  right: 42px;
  top: 14px;
}
.lol_container .lol_header .lol_card span {
  font-size: 23px;
  color: #d0ab00;
}
.lol_container .lol_header .lol_cart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.lol_container .lol_header .lol_cart span {
  font-size: 30px;
  color: #d0ab00;
}
.lol_container .lol_banner {
  width: 100%;
  margin-top: 50px;
}
