/*页面样式*/
@gold : #d0ab00;

.lol_container{
  width: 100%;
  .lol_header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #b8b8b8;
    position: relative;
    /* 设置pading 把input 挤进去 */
    padding-left: 50px;
    padding-right: 80px;
    ///*盒子模型，很关键，是免死金牌*/
    //-webkit-box-sizing: border-box;
    //box-sizing: border-box;
    .lol_userIcon{
      position: absolute;
      width: 35px;
      height: 35px;
      border: 1px solid @gold;
      border-radius: 50%;
      overflow: hidden;
      top: 7px;
      left: 5px;
      img{
        width: 35px;
        height: 35px;
      }
    }
    .searchIcon{
      position: absolute;
      left: 62px;
      top: 15px;
      color: #9a9a9a;
    }
    .lol_search{
      width: 100%;
      margin-top:7px;
      height: 70%;
      border: 1px solid #cacaca;
      background-color: #cacaca;
      border-radius: 8px;
      padding-left: 24px;
    }
    input::-ms-input-placeholder{
      font-size: 14px;
      color: #989898;
      line-height: 100%;
      padding-left: 50px;

    }
    input::-moz-placeholder{
      font-size: 14px;
      color: #989898;
      line-height: 100%;
      padding-left: 50px;

    }
    input::-webkit-input-placeholder{
      font-size: 14px;
      color: #989898;
      line-height: 100%;
      padding-left: 50px;
      //color: red;
    }
    input:-moz-placeholder{
      font-size: 14px;
      color: #989898;
      line-height: 100%;
      padding-left: 50px;

    }
    .lol_card{
      position: absolute;
      right: 42px;
      top: 14px;
      span{
        font-size: 23px;
        color: @gold;
      }
    }
    .lol_cart{
      position: absolute;
      right: 10px;
      top: 10px;
      span{
        font-size: 30px;
        color: @gold;
      }
    }
  }
}